@font-face {
    font-family: 'Mairy';
    src: url(../assets/fonts/Mairy\ Regular.otf);
}

#pantallaMenu {
    width: 100%;
    height: 100%;
}

/* SECCION MENU LATERAL */
#seccionLateral {
    width: 15vw;
    background-color: #29d94f;
    position: fixed;
    left: 0;
    height: 100%;
}

#h2Menu {
    font-size: 3vw;
}

#seccionLateral a {
    width: 90%;
    padding: 12% 0;
    background-color: #4c2c72;
    color: #c2e812;
    border: solid 2px black;
    border-radius: 8px;
    margin-bottom: 5%;
    text-decoration: none;
    transition: transform 0.7s, color 0.5s, font-size 0.3s;
}

#seccionLateral a:hover {
    color: #8d53d4;
    transform: rotate(3deg);
    transition: transform 0.7s, color 0.5s, font-size 0.3s;
    font-size: larger;
}

#enlacesMenuLateral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#seccionesMenu {
    width: 85vw;
    height: 100%;
    float: right;
}

/* SECCIONES */

.seccionDeMenu {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../assets/images/campo3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

/* SECCION 1 */

#seccion1 {
    display: block;
}

#avisos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    justify-items: center;
}


.aviso {
    width: 30vw;
    background-color: #77867f;
    border: #4c2c72 4px solid;
    border-radius: 10px;
    
}

#noticias {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    justify-items: center;
}

.noticia {
    width: 30vw;
    min-height: 200px;
    background-color: #77867f;
    border: #4c2c72 4px solid;
    border-radius: 10px;
}

/* SECCION 2 */

#seccion2 {
    display: none;
    text-align: center;
}

#map {
    width: 70%;
    height: 80%;
    margin-inline: auto;
}

/* SECCION 3 */

#seccion3 {
    display: none;
    color: white !important;
}

#seccion3 button {
    background-color: rgb(194, 194, 194);
}

#consultaTiempo {
    background-color: #31572c;
    border: #8d53d4 5px solid;
    border-radius: 10px;
    width: 80%;
    margin-inline: auto;
}

h4 {
    color: rgb(134, 134, 134);
    font-size: small;
}

#divFormCiudad {
    display: flex;
    justify-content: space-evenly;
}

input[type=text] {
    font-size: 3vw;
}

#botonMeteo {
    width: 20%;
    background-color: #29d94f;
    border-radius: 10px;
}

#botonMeteo:hover {
    background-color: #25c047;
    color: rgb(216, 216, 216);
}

#tablaMeteo {
    margin-inline: auto;
    width: 90%;
    height: 100%;
}

th, td {
    font-size: 2vw;
    text-align: center !important;
    margin-inline: auto;
}

/* SECCION 4 */

#seccion4 {
    display: none;
}

/* SECCION 5 */

#seccion5 {
    display: none;
}

video, #imagenSubida {
    max-width: 80%;
    max-height: 50%;
    border-radius: 10px;
    margin-inline: auto;
    background-color: white;
}

#divControlCamara {
    width: 80%;
    margin-inline: auto;
    background-color: #31572c;
    border-radius: 10px;
    padding: 3% 0;
    margin-bottom: 2%;
}

#divBotonesCamara {
    display: flex;
    justify-content:space-evenly;
    
}

#divBotonesCamara button {
    background-color: #4c2c72;
    border: 2px solid black;
    color: white;
    border-radius: 8px;
    font-size: 3vw;
}

#divBotonesCamara button:hover {
    background-color: #8d53d4;
}

#divInputImagen {
    width: 80%;
    margin-inline: auto;
    background-color: #31572c;
    border-radius: 10px;
    padding: 3% 0;
    margin-bottom: 2%;
}

input[type="file"]::file-selector-button {
    background-color: #8d53d4;
    font-family: 'Mairy';
    font-size: 3vw;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

input[type="file"]::file-selector-button:hover {
    background-color: #4c2c72;
}

#seccion5 h3 {
    color: #bbbbbb;
}

#divResultado {
    width: 80%;
    margin-inline: auto;
    background-color: #3c6c35;
    border-radius: 10px;
    padding: 3% 0;
}

#resultado {
    color: white;
    font-size: 2vw;
}



@media (max-width: 800px) {


    #header {
        height: 8vh;
    }

    h1 {
        font-size: 15vw;
    }

    h2 {
        font-size: 12vw;
        padding-top: 8px;
    }


    #seccionLateral {
        height: 6vh;
        width: 100%;
        position: unset;
        left: unset;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    #seccionLateral a {
        padding: unset;
        margin-bottom: unset;
        font-size: 4vw;
    }

    #enlacesMenuLateral {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    #seccionesMenu {
        width: 100vw;
    }

    #h2Menu {
        display: none;
    }


    /* SECCION 1 */
    #seccion1 {
        background-image: unset;
    }

    #avisos {
        grid-template-columns: 1fr;
    }

    #noticias {
        grid-template-columns: 1fr;
    }

    .aviso, .noticia {
        width: 80vw;
    }

    /* SECCION 2 */

    #map {
        width: 95%;
    }

    /* SECCION 3 */

    th, td {
        font-size: 2.5vw;
    }
}